.packages-title {
  @include font-size(38 , $base-line-height);
  font-weight: 300;
  margin: 40px 0;
  color: #5c676d;
}

.letter-sort > .list {
  & {
    list-style: none;
    text-align: center;
    border: $base-border;
    border-left: none;
    border-right: none;
    padding: 15px 0;
    margin: 0;
  }

  > li {
    display: inline-block;
    font-size: 20px;
    @include font-size(22 , $base-line-height);
    @include line-height(36);
    text-transform: uppercase;
    margin: 0 8px;
  }

  > li > a {
    color: $text-grey;
    font-weight: 300;
  }

  > li > a:hover {
    color: $color-red;
  }
}

.letter-sort > .list {
  @include general-mobile {
    box-shadow: $base-box-shadow;

     > li {
      margin: 10px;
    }
  }
}

.sort-results {
  padding: 40px 20px 10px 20px;
}

.package-list { padding: 20px 0; }

.package-list > .list {
  & {
    list-style: none;
    padding: 0;
  }
}

.package-list > .list > .item {
  & {
    @include display-flex;
    padding: 18px;
  }
}

.package-list .package-info {
  & {
    width: 80%;
  }

  > .name {
    @include font-size(26 , $base-line-height);
    color: $color-red;
    display: inline-block;
  }

  > .version {
    @include font-size(18 , $base-line-height);
    font-weight: 300;
  }

  > .description {
    @include font-size(14 , $base-line-height);
    padding: 10px 0 0 0;
    font-weight: 300;
    line-height: 16px;
    margin: 0;
  }
}

.package-list .package-info {
  @include general-mobile {
    > .name { @include font-size(22 , $base-line-height); }
  }
}

.package-list .downloads-info {
  & {
    @include font-size(18, $base-line-height);
    color: $text-grey;
    font-weight: 300;
    text-align: right;
    width: 20%;
  }

  > .count {
    font-weight: bold;
    display: inline-block;
    padding: 0 0 10px 0;
  }
}

.package-list .downloads-info {
  @include general-mobile {
    > .text {
      font-size: 1.4rem;
    }
  }
}

.pagination-widget {
  float: right;
}

.pagination-info,
.pagination-sort {
  float: left;
  color: $text-grey;
  @include font-size(16, $base-line-height);
  padding: 10px;
  font-weight: 300;
}

.pagination-info {
  @include general-mobile {
    padding: 10px 0;
  }
}

.pagination-sort {
  @include general-mobile {
    float: right;
    padding: 10px 0;
  }
}

.pagination {
  margin: 0;

  li {
    a, span,
    a:hover, span:hover,
    a:focus, span:focus {
      color: #aa2c3f;
    }
  }

  .active {
    a, span,
    a:hover, span:hover,
    a:focus, span:focus {
      background-color: #aa2c3f;
      border-color: #aa2c3f;
    }
  }

}
